<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Fawkes!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <%= unless is_nil display_name(@conn.assigns[:current_user]) do %>
            <dl>
              <dt><%= display_name(@conn.assigns[:current_user]) %></dt>
              <%= if display_title(@conn.assigns[:current_user]) do %>
                <dd><%= display_title(@conn.assigns[:current_user]) %></dd>
              <% end %>
              <%= if display_company(@conn.assigns[:current_user]) do %>
                <dd><%= display_company(@conn.assigns[:current_user]) %></dd>
              <% end %>
            </dl>
          <% end %>
          <ul>
            <%= if is_nil @conn.assigns[:current_user] do %>
              <li>
                <%= link  gettext("Get Started"), to: signup_user_path(@conn, :new) %>
              </li>
              <li>
                <%= link gettext("Schedule"), to: schedule_path(@conn, :index) %>
              </li>
            <% else %>
              <li>
                <%= link gettext("Agenda"), to: schedule_path(@conn, :index) %>
              </li>
            <% end %>
            <li>
              <%= if is_nil @conn.assigns[:current_user] && @conn.assigns[:ignore_login] != true do %>
                <%= SharedView.render("login.html", conn: @conn) %>
              <% else %>
                <%= link gettext("Logout"), to: page_path(@conn, :logout), method: :post%>
              <% end %>
            </li>
            <li>
              <%= link("General Info", to: page_path(@conn, :index)) %>
            </li>
          </ul>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
