<div>
  <%= for slot <- @slots do %>
  <h2>
    <%=
      if talks_exist?(slot) do
        slot
        |> SharedView.render_timespan()
        |> link(to: schedule_path(@conn, :show, slot.slug))
      else
        SharedView.render_timespan(slot)
      end
    %>
  </h2>
  <%=
    render_slot(slot, [
      slot: slot,
      conn: @conn,
      talk_counts: @talk_counts,
      agenda_item_slugs: @agenda_item_slugs
    ])
  %>
  <% end %>
</div>
