<div>
  <%= for {date, slots} <- @schedules do %>
    <h1><%= Timex.format!(date, "%A %B %e, %Y", :strftime) %></h1>
    <%= render(__MODULE__, "date.html", Map.put(assigns, :slots, slots)) %>
  <% end %>
</div>