<h4><%= @time %></h4>
<%= for talk <- @talks do %>
<div>
  <h4><%= talk.title %></h4>
  <h5><%= talk.speaker.first %> <%= talk.speaker.last %></h5>
  <p>Located in: <%= talk.location.name %></p>
  <ul>
    <li><%= link(talk.category.name, to: category_path(@conn, :show, talk.category.slug)) %></li>
    <li><%= link(talk.audience.name, to: audience_path(@conn, :show, talk.audience.slug)) %></li>
  </ul>
  <div>
    <%= raw(talk.description) %>
  </div>
</div>
<% end %>
