/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: $default-text-size;
  font-family: $main-font-family;}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure, main {
  margin: 0;
  padding: 0; }

header, footer, nav, section, article, hgroup, figure, main {
  display: block; }

@font-face {
  font-family: 'MyWebFont';
  src: url("webfont.eot");
  /* IE9 Compat Modes */
  src: url("webfont.eot?#iefix") format("embedded-opentype"), url("webfont.woff2") format("woff2"), url("webfont.woff") format("woff"), url("webfont.ttf") format("truetype"), url("webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'MyWebFont';
  src: url("webfont.eot");
  /* IE9 Compat Modes */
  src: url("webfont.eot?#iefix") format("embedded-opentype"), url("webfont.woff2") format("woff2"), url("webfont.woff") format("woff"), url("webfont.ttf") format("truetype"), url("webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }